<app-header-v2></app-header-v2>
<app-header></app-header>
<div class="bg-gray">
    <div class="container">
        <ul ngbNav #nav="ngbNav" [activeId]="route.fragment | async" class="nav-pills nav-justified">
            <li [ngbNavItem]="category.title" *ngFor="let category of categories">
                <a ngbNavLink routerLink="." [fragment]="category.title">{{ category.title | titlecase }}</a>
                <ng-template ngbNavContent>
                    <div class="tab-container">
                        <div class="category" *ngFor="let subCategory of category.items">
                            <div class="image">
                                <img [src]='subCategory.logo' alt="">
                            </div>
                            <span>{{ subCategory.title }}</span>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>
        
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</div>
<app-footer></app-footer>