<div class="carousel" data-flickity='{ "prevNextButtons": false,  "pageDots": false,  "wrapAround": true, "imagesLoaded": true, "percentPosition": true, "autoPlay": true }'>
    <div class="background" [style.background-image]="'url(./assets/img/theme/cat-img-1.jpg)'">
        <a class="item" [routerLink]="['/view_e']" fragment="deportes">
            <div class="category">
                <div class="image">
                    <img src="./assets/img/icons/categories/bicycle.svg" alt="">
                </div>
                <span>Deportes</span>
            </div>
        </a>
    </div>
    <div class="background" [style.background-image]="'url(./assets/img/theme/cat-img-1.jpg)'">
        <a class="item" [routerLink]="['/view_e']" fragment="arte">
            <div class="category">
                <div class="image">
                    <img src="./assets/img/icons/categories/bicycle.svg" alt="">
                </div>
                <span>Arte</span>
            </div>
        </a>
    </div>
    <div class="background" [style.background-image]="'url(./assets/img/theme/cat-img-1.jpg)'">
        <a class="item" [routerLink]="['/view_e']" fragment="posibilidades">
            <div class="category">
                <div class="image">
                    <img src="./assets/img/icons/categories/bicycle.svg" alt="">
                </div>
                <span>Posibilidades</span>
            </div>
        </a>
    </div>
    <div class="background" [style.background-image]="'url(./assets/img/theme/cat-img-1.jpg)'">
        <a class="item" [routerLink]="['/view_e']" fragment="fitness">
            <div class="category">
                <div class="image">
                    <img src="./assets/img/icons/categories/bicycle.svg" alt="">
                </div>
                <span>fitness</span>
            </div>
        </a>
    </div>
    <div class="background" [style.background-image]="'url(./assets/img/theme/cat-img-1.jpg)'">
        <a class="item" [routerLink]="['/view_e']" fragment="apoyo">
            <div class="category">
                <div class="image">
                    <img src="./assets/img/icons/categories/bicycle.svg" alt="">
                </div>
                <span>apoyo</span>
            </div>
        </a>
    </div>
</div>