<div class="carousel" data-flickity='{ "prevNextButtons": false,  "pageDots": false,  "wrapAround": true, "imagesLoaded": true, "percentPosition": true, "autoPlay": true }'>
    <a href="#"><img src="./assets/img/theme/slide_pick_1.jpg" alt="s1" /></a>
    <a href="#"><img src="./assets/img/theme/slide_pick_2.jpg" alt="s2" /></a>
    <a href="#"><img src="./assets/img/theme/slide_pick_3.jpg" alt="s3" /></a>
    <a href="#"><img src="./assets/img/theme/slide_pick_4.jpg" alt="s4" /></a>
    <a href="#"><img src="./assets/img/theme/slide_pick_5.jpg" alt="s5" /></a>
    <a href="#"><img src="./assets/img/theme/slide_pick_1.jpg" alt="s1" /></a>
    <a href="#"><img src="./assets/img/theme/slide_pick_2.jpg" alt="s2" /></a>
    <a href="#"><img src="./assets/img/theme/slide_pick_3.jpg" alt="s3" /></a>
    <a href="#"><img src="./assets/img/theme/slide_pick_4.jpg" alt="s4" /></a>
    <a href="#"><img src="./assets/img/theme/slide_pick_5.jpg" alt="s5" /></a>
</div>