/* default height */

#ad {
    height: 250px;
    display: block;
    border-radius: 15px;
    background: white;
    text-align: center;
    box-shadow: 3px 3px 5px grey;
    margin: 1rem 0;
}

@media only screen and (height:90px) {
    /* 90 pixels high */
    #ad {
        height: 90px;
    }
}

@media only screen and (height:125px) {
    /* 125 pixels high */
    #ad {
        height: 125px;
    }
}