<div class="container-bg" style="padding-top: 20px;">
    <div class="cont">
        <div class="col-md-12 col-lg-12 col-sm-12">

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <h3 class="h4 text font-weight-bold mb-4" style="color: #00273d; font-weight: 1000 !important;">REGISTRO DE COACH</h3>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <h3 class="h4 text font-weight-bold mb-4">¡Descubre qué te apasiona!</h3>
                    </div>
                </div>


                <div class="col-md-4">
                    <h5 class="h5 text font-weight-bold mb-2">Nombre(s) y Apellido(s)</h5>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" placeholder="" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <h5 class="h5 text font-weight-bold mb-2">Email</h5>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" placeholder="" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <h5 class="h5 text font-weight-bold mb-2">Edad mínima</h5>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" placeholder="" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <h5 class="h5 text font-weight-bold mb-2">Dirección</h5>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" placeholder="" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5 class="h5 text font-weight-bold mb-2">Nro de celular</h5>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" placeholder="" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <h5 class="h5 text font-weight-bold mb-2">Categoría</h5>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                  <option>Arte</option>
                                  <option>Deportes</option>
                                  <option>Posibilidades</option>
                                  <option>Fitness</option>
                                  <option>Apoyo</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <h5 class="h5 text font-weight-bold mb-2">Nombre disciplina</h5>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" placeholder="" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <h5 class="h5 text font-weight-bold mb-2">Nombre de club</h5>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" placeholder="" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5 class="h5 text font-weight-bold mb-2">Horarios</h5>
                    <h6 class="h6 text font-weight-bold mb-2"> (Ticke los horarios disponible en su escuela)</h6>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <select class="form-control" id="exampleFormControlSelect1">
                                  <option>10:00 - 11:00</option>
                                  <option>11:00 - 12:00</option>
                                  <option>14:00 - 15:00</option>
                                  <option>15:00 - 16:00</option>
                                  <option>16:00 - 17:00</option>
                                  <option>17:00 - 18:00</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <h5 class="h5 text font-weight-bold mb-2">Precio mensualidad</h5>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <input type="text" placeholder="" class="form-control" />
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12">
                    <button class="btn btn-success" type="button">Registrarse</button>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>