.cent {
    font-family: 'coconbold';
    font-weight:normal;
    font-style:normal;
    color: white;
    font-size: 35px;
    }
.centsub {
    font-family: 'coconbold';
    font-weight:normal;
    font-style:normal;
    color: white;
    font-size: 20px;
}