<footer class="footer">

  <div class="container">

    <!-- <hr> -->
    <div class="row align-items-center">

      <div class="col-md-12">
        <ul class="nav nav-footer justify-content-center">
          <div class="col-md-3">
            <li class="nav-item">
              <a href="#" class="nav-link"><i class="fa fa-envelope-o"> mailblu@gmail.com</i></a>
            </li>
          </div>
          <div class="col-md-3">
            <li class="nav-item">
              <a href="#" class="nav-link"><i class="fa fa-facebook-official"> bluuescuela</i></a>
            </li>
          </div>
          <div class="col-md-3">
            <li class="nav-item">
              <a href="#" class="nav-link"><i class="fa fa-map-marker"> calle tantos tantos entre tantos y tantos
                  #126</i></a>
            </li>
          </div>
          <div class="col-md-3">
            <li class="nav-item">
              <a href="#" class="nav-link"><i class="fa fa-instagram"> bluuescuelagenial</i></a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</footer>